.example-img {
  object-fit: cover;
  width: 85%;
  height: 200px;
  background-color: white;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 10px 10px;
  border-style: groove;
  margin: 25px 10px;
  display: inline-block;
  align-items: center;
}
.list {
  background-color: whitesmoke;
}
.sale {
  font-size: arial;
  text-align: center;
  background-color: ;
}

.items {
  display: flex;
  gap: 20px;
  padding-left: 20%;
}
.sub {
  font-weight: 700;
  text-align: center;
  background-color: skyblue;
}
